/.settings/
/target/
*.classpath
*.project


# Directories #
/build/
/bin/
**/bin/
target/
# OS Files #
.DS_Store
*.class
# Package Files #
*.war
*.ear
*.db
######################
# Windows
######################
# Windows image file caches
Thumbs.db 
# Folder config file
Desktop.ini
######################
# OSX
######################
.DS_Store
.svn
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/
.loadpath
*.pydevproject
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
.project
# PDT-specific
.buildpath
#liferay sdk
build-common-theme.xml
build-common-portlet.xml
create.bat
create.sh
merge.bat
/build.xml
readme.txt
######################
# IntelliJ
######################
.idea
*.iml
