/README_DEV.txt svn_mime_002dtype=text%2Fplain
installer/izpack2exe/7zS.sfx svn_mime_002dtype=application%2Foctet-stream
installer/izpack2exe/exe.ico svn_mime_002dtype=application%2Foctet-stream
installer/sinadura-template/Contents/Resources/sinadura.icns svn_mime_002dtype=application%2Foctet-stream
resources-ext/crls/izenpe-new.crl svn_mime_002dtype=application%2Foctet-stream
resources-ext/crls/izenpe.crl svn_mime_002dtype=application%2Foctet-stream
resources-ext/firmas/p7s/imagen.jpg.p7s svn_mime_002dtype=application%2Foctet-stream
resources-ext/firmas/pdf/prueba.pdf svn_mime_002dtype=application%2Foctet-stream
resources-ext/images/sinadura150.png svn_mime_002dtype=application%2Foctet-stream
resources-ext/osx/MacOS/JavaApplicationStub svn_mime_002dtype=application%2Foctet-stream
resources-ext/osx/MacOS/Resources/logo_sinadura.icns svn_mime_002dtype=application%2Foctet-stream
resources-ext/p12/EntidadZylkdesarrollo.p12 svn_mime_002dtype=application%2Foctet-stream
resources-ext/p12/cert_entidad_software_des.p12 svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/dnie/DNIE_SU_0.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/dnie/DNIE_SU_1.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/dnie/DNIE_SU_2.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-des/AAPPR_cert_signing_2009_0-des.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-des/CA_raiz_desarrollo_izenpe.com_csrs.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-des/CA_subordinada_desarrollo_[!!-~]reconocidos_csrs.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-des/CCEER_cert_signing_2009_0-des.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-des/RAIZ_CERTIFICATE_AND_CRL_SIGNING_SHA1.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-des/recSCA_csrs.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-prod/AAPPR_cert_signing_2009_0.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-prod/CCEER_cert_signing_2009_0.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-prod/RAIZ2007_CERTIFICATE_AND_CRL_SIGNING_SHA1.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-prod/ca_aapp_reconocidos.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-prod/ca_ciudadanos_entidades_reconocidos.crt svn_mime_002dtype=application%2Foctet-stream
resources-ext/trusted-certs/izenpe-prod/ca_raiz.crt svn_mime_002dtype=application%2Foctet-stream
src/main/java/net/esle/sinadura/gui/exceptions/FileNotValidException.java svn_mime_002dtype=text%2Fplain
src/main/java/net/esle/sinadura/gui/util/HardwareItem.java svn_mime_002dtype=text%2Fplain
src/main/java/net/esle/sinadura/gui/view/preferences/PdfProfilePreferences.java svn_mime_002dtype=text%2Fplain
src/main/java/net/esle/sinadura/gui/view/preferences/PdfProfilePreferencesDialog.java svn_mime_002dtype=text%2Fplain
src/main/resources/images/accept.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/add.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/adddir.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/adddir_menu.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/addfile.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/back.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/cancel.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/credits.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/delete.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/edit.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/error.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/export.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/file.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/file_menu.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/info.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/lantegibatuak.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/menu-about.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/menu-documentation.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/menu-exit.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/menu-license.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/menu-preferences.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/news.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/ok.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/parlamento.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/pdf-preview.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/position.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/remove.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/sar.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/send.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/sign.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/sign_16.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/sinadura-full.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/sinadura.ico svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/sinadura.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/sinadura150.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/sinadura48.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/unknown.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/validate.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/view.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/warning-valid.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/warning.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/images/zylk.png svn_mime_002dtype=application%2Foctet-stream
src/main/resources/preferences/cache.jks svn_mime_002dtype=application%2Foctet-stream
src/main/resources/preferences/trusted.jks svn_mime_002dtype=application%2Foctet-stream
src/main/resources/zain/zain.jks svn_mime_002dtype=application%2Foctet-stream
