[Desktop Entry]
Categories=
Comment=Uninstall Sinadura - Firma Digital
Comment[es]=Uninstall Sinadura - Firma Digital
Encoding=UTF-8
Exec=$INSTALL_PATH/jre/bin/java -jar "$INSTALL_PATH/Uninstaller/uninstaller.jar"
GenericName=
GenericName[es]=
Icon=trashcan_empty
MimeType=
Name=UninstallSinadura-FirmaDigital
Name[es]=UninstallSinadura-FirmaDigital
Path=$INSTALL_PATH/Uninstaller/
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=
TerminalOptions=
Type=Application
URL=
X-KDE-SubstituteUID=false
X-KDE-Username=root




# created by com.izforge.izpack.util.os.Unix_Shortcut $Revision$
# $Id$
